{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% block seo %}
    
{% endblock seo %}

<title>Compassionate Care Advisors | Expert Healthcare Marketing & HIPAA-Compliant Solutions</title>
<meta name="description" content="Compassionate Care Advisors helps healthcare providers grow through data-driven marketing, reputation management, and HIPAA-compliant EMR solutions. Elevate your practice with expert strategy and innovation." />
<meta name="keywords" content="healthcare marketing, HIPAA EMR, medical marketing agency, reputation management, patient acquisition, digital presence, Compassionate Care Advisors, CCA" />
<meta property="og:title" content="Compassionate Care Advisors | Transforming Healthcare Marketing" />
<meta property="og:description" content="Data-driven healthcare marketing and EMR solutions to grow your medical practice with trust, compliance, and measurable results." />
<meta property="og:image" content="{% static 'images/social/cca-og.jpg' %}" />
<meta property="og:url" content="https://www.compassionatecareadvisors.com/" />


<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/meanmenu.min.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<!-- Color Switcher Mockup -->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body>

<div class="page-wrapper">
	
	<!-- Cursor -->
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<!-- Cursor End -->
 	
	<!-- Preloader -->
	<!-- <div class="preloader">
		<div class="box"></div>
	</div> -->
	<!-- End Preloader -->
	
	<!-- Main Header -->
	<header class="main-header header-style-one">
		
		<!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="left-box d-flex align-items-center flex-wrap">
                            <div class="info-list_outer">
                                <!-- Info List -->
                                <ul class="header-top_list d-flex flex-wrap">
                                    <li>
                                        <span class="icon fa-classic fa-solid fa-envelope fa-fw"></span>
                                        <a href="mailto:info@compassionatecareadvisors.com">info@compassionatecareadvisors.com</a>
                                    </li>
                                    <li>
                                        <a href="https://share.google/XG5SsK0XsrwtuE3T1" target="_blank">
                                        <span class="icon fa-classic fa-solid fa-location-dot fa-fw"></span>
                                        1121 Walt Whitman Rd, Suite 312, Melville, NY 11747
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right-box d-flex align-items-center flex-wrap">
                            
                            <!-- Social Box -->
                            <div class="header-top_socials">
                                <div class="social-inner">
                                    <a href="https://facebook.com/compassionatecareadvisors"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://instagram.com/compassionatecareadvisors"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://twitter.com/compcareadvisors"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://linkedin.com/company/compassionate-care-advisors"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

		
		<!-- Header Lower -->
		<div class="header-lower">
			<div class="auto-container">
				<div class="inner-container">
					<div class="d-flex justify-content-between align-items-center">
						
                            <div class="logo-box">
                                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" style="width: 160px;"  alt="" title="ITHUB"></a></div>
                            </div>
                            
                            <div class="nav-outer d-flex flex-wrap">
                                <!-- Main Menu -->
                                <nav class="main-menu navbar-expand-md">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->    	
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    
                                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            
                                            <!-- HOME (kept mega-menu structure; links tailored to site) -->
                                            <li class="dropdown has-mega-menu"><a href="{% url 'index' %}">Home</a>
                                                <div class="mega-menu">
                                                    <div class="mega-menu-bar row clearfix">
                                                        <div class="column col-lg-3 col-md-12 col-sm-12">
                                                            <h6>Start Here</h6>
                                                            <ul>
                                                                <li><a href="{% url 'index' %}">Homepage</a></li>
                                                                <li><a href="{% url 'about' %}">Why Choose CCA</a></li>
                                                                <li><a href="{% url 'testimonials' %}">Client Testimonials</a></li>
                                                            </ul>
                                                            <h6>Quick Actions</h6>
                                                            <ul>
                                                                <li><a href="{% url 'contact' %}">Book a Consultation</a></li>
                                                                <li><a href="{% url 'service_list' %}">Explore Services</a></li>
                                                                <li><a href="{% url 'blog' %}">Latest Insights</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="column col-lg-3 col-md-12 col-sm-12">
                                                            <h6>About CCA</h6>
                                                            <ul>
                                                                <li><a href="{% url 'about' %}">About Us</a></li>
                                                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                                                <li><a href="{% url 'terms_of_service' %}">Terms & Conditions</a></li>
                                                            </ul>
                                                            <h6>Support</h6>
                                                            <ul>
                                                                <li><a href="{% url 'faq' %}">FAQs</a></li>
                                                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="column col-lg-3 col-md-12 col-sm-12">
                                                            <h6>Showcase</h6>
                                                            <ul>
                                                                <li><a href="#">Gallery</a></li>
                                                                <li><a href="{% url 'case_study_list' %}">Case Studies</a></li>
                                                            </ul>
                                                            <h6>Resources</h6>
                                                            <ul>
                                                                <li><a href="{% url 'blog' %}">Blogs</a></li>
                                                                {% comment %} <li><a href="{% url 'blog_classic' %}">Guides</a></li> {% endcomment %}
                                                            </ul>
                                                        </div>
                                                        <div class="column col-lg-3 col-md-12 col-sm-12">
                                                            <h6>Get Started</h6>
                                                            <ul>
                                                                <li><a href="{% url 'service_list' %}">All Services</a></li>
                                                                <li><a href="#">EMR (HIPAA-Compliant)</a></li>
                                                                <li><a href="#`">Digital Presence</a></li>
                                                                <li><a href="#">Reputation Management</a></li>
                                                                <li><a href="#">Market Analysis & Strategy</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <!-- ABOUT -->
                                            <li class="dropdown"><a href="#">About</a>
                                                <ul>
                                                    <li><a href="{% url 'about' %}">About CCA</a></li>
                                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                                    <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                                                
                                                </ul>
                                            </li>

                                            <!-- SERVICES -->
                                            <li class="dropdown">
                                                <a href="{% url 'service_list' %}">Services</a>
                                                <ul>
                                                    {% for service in nav_services %}
                                                        <li>
                                                            <a href="{% url 'service_detail' service.slug %}">
                                                                {{ service.title }}
                                                            </a>
                                                        </li>
                                                    {% empty %}
                                                        <li><a href="#">No services available</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>


                                            <!-- OUR TEAM (repurposed from "project") -->
                                            <li class=""><a href="{% url 'team_list' %}">Our Team</a>
                                              
                                            </li>

                                            <!-- GALLERY (repurposed from "shop") -->
                                            <li class="dropdown"><a href="#">Gallery</a>
                                                <ul>
                                                    <li><a href="gallery.html">Before & After</a></li>
                                                    <li><a href="{% url 'case_study_list' %}">Case Studies</a></li>
                                                </ul>
                                            </li>

                                            <!-- BLOGS -->
                                            <li class=""><a href="{% url 'blog' %}">Blogs</a>
                                                
                                            </li>

                                            <!-- CONTACT US -->
                                            <li class=""><a href="{% url 'contact' %}">Contact Us</a>
                                               
                                            </li>

                                        </ul>
                                    </div>
                                </nav>
                            </div>

                            <!-- Main Menu End-->
                            <div class="outer-box d-flex align-items-center flex-wrap">

                                <!-- Search Btn -->
                                {% comment %} <div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div> {% endcomment %}

                                <!-- About Widget -->
                                <span class="about-widget">
                                    <span class="hamburger">
                                        <span class="top-bun"></span>
                                        <span class="meat"></span>
                                        <span class="bottom-bun"></span>
                                    </span>
                                </span>
                                
                                <!-- Button Box -->
                                <div class="main-header_button">
                                    <a href="{% url 'contact' %}" class="theme-btn btn-style-one">
                                        <span class="btn-wrap">
                                            <span class="text-one">Get Started</span>
                                            <span class="text-two">Get Started</span>
                                        </span>
                                    </a>
                                </div>
                                
                                <!-- Mobile Navigation Toggler -->
                                <div class="mobile-nav-toggler"><span class="icon fa-classic fa-solid fa-bars fa-fw"></span></div>

                            </div>
                            
                        </div>

				</div>
			</div>
		</div>
		<!--End Header Lower-->
		
		<!-- Mobile Menu  -->
		<div class="mobile-menu">
			<div class="menu-backdrop"></div>
			<div class="close-btn"><span class="icon fa-xmark"></span></div>
			
			<nav class="menu-box">
				<div class="nav-logo"><a href="#"><img src="{% static 'images/mobile-logo.svg' %}" alt="" title=""></a></div>
				<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
			</nav>
		</div>
		<!-- End Mobile Menu -->
	
	</header>
	<!-- End Main Header -->
	
	<!-- About Sidebar -->
	<div class="about-sidebar">
	<div class="gradient-layer"></div>
	<!-- Close Button -->
        <div class="close-sidebar-widget close-button">
            <span class="fa-solid fa-xmark fa-fw"></span>
        </div>
        <div class="sidebar-inner">
            <div class="upper-box">
                <div class="image">
                    <img src="{% static 'images/resource/about-1.jpg' %}" alt="" />
                </div>
                <div class="content-box">
                    <h3>About <span>Compassionate Care Advisors</span></h3>
                    <div class="text">
                        We help healthcare providers grow with data-driven marketing, digital visibility, and HIPAA-compliant systems — so you can focus on what matters most: patient care.
                    </div>
                    <ul class="about-sidebar_list">
                        <li>Attract more qualified patients</li>
                        <li>Build a trusted online reputation</li>
                        <li>Streamline workflows with HIPAA-ready EMR</li>
                        <li>Accelerate your practice growth</li>
                    </ul>
                </div>
            </div>

            <!-- CTA Box -->
            <div class="cta-box" style=" text-align: center;">
                <h4 style="font-weight:700; color:#fff;">Ready to Transform Your Practice?</h4>
                <p style=" font-size:15px; margin-bottom:15px;">
                    Schedule a free strategy call with our healthcare marketing experts and discover your next growth opportunity.
                </p>
                <a href="{% url 'contact' %}" class="theme-btn btn-style-one" style="display:inline-block;">
                    <span class="btn-wrap">
                        <span class="text-one">Book Your Free Consultation</span>
                        <span class="text-two">Book Now</span>
                    </span>
                </a>
            </div>

           
        </div>
    </div>

	<!-- End About Sidebar -->

    
    {% block body %}
        
    {% endblock body %}
	
	<!-- Main Footer -->
	<footer class="main-footer">
		<div class="main-footer_bg-color"></div>
		<div class="main-footer_vector" style="background-image:url('{% static "images/icons/vector-3.png" %}')"></div>
		<div class="auto-container">
        <div class="inner-container">
            <div class="footer-logo">
                <a href="index.html"><img src="{% static 'logo.png' %}" style="width: 200px;" alt="" title="Compassionate Care Advisors"></a>
            </div>

            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="footer-text">
                    We empower healthcare practices to grow <br> through compassion, strategy, and innovation.
                </div>

                <!-- Social Box -->
                <div class="footer-social_box">
                    <a href="https://facebook.com/compassionatecareadvisors"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://instagram.com/compassionatecareadvisors"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/compcareadvisors"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://linkedin.com/company/compassionate-care-advisors"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="footer-discuss"><span class="up-down_animation">Let’s Connect!</span></div>

            <ul class="footer-contact_list d-flex justify-content-end">
                <li><a href="mailto:info@compassionatecareadvisors.com">info@compassionatecareadvisors.com</a></li>
                <li><a href="tel:+1-212-555-3472">+1 (212) 555-3472</a></li>
            </ul>

            <div class="footer-type_title variable-text">Your Success. Our Mission.</div>
        </div>
    </div>

		
		<!-- Instagram Gallery -->
		<div class="instagram-gallery">
			<div class="outer-container">
				
				<div class="instagram-one_carousel swiper-container">
					<div class="swiper-wrapper">
						
						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Instagram Block One -->
							<div class="instagram-block_one">
								<div class="instagram-block_one-inner">
									<div class="instagram-block_one-image">
										<img src="{% static 'images/gallery/instagram-1.jpg' %}" alt="" />
										<div class="instagram-block_one-overlay">
											<a href="{% static 'images/gallery/instagram-1.jpg' %}" class="lightbox-image instagram-block_one-icon">
												<i class=""><img src="{% static 'images/gallery/instagram.svg' %}" alt="" /></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Instagram Block One -->
							<div class="instagram-block_one">
								<div class="instagram-block_one-inner">
									<div class="instagram-block_one-image">
										<img src="{% static 'images/gallery/instagram-2.jpg' %}" alt="" />
										<div class="instagram-block_one-overlay">
											<a href="{% static 'images/gallery/instagram-2.jpg' %}" class="lightbox-image instagram-block_one-icon">
												<i class=""><img src="{% static 'images/gallery/instagram.svg' %}" alt="" /></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Instagram Block One -->
							<div class="instagram-block_one">
								<div class="instagram-block_one-inner">
									<div class="instagram-block_one-image">
										<img src="{% static 'images/gallery/instagram-3.jpg' %}" alt="" />
										<div class="instagram-block_one-overlay">
											<a href="{% static 'images/gallery/instagram-3.jpg' %}" class="lightbox-image instagram-block_one-icon">
												<i class=""><img src="{% static 'images/gallery/instagram.svg' %}" alt="" /></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Instagram Block One -->
							<div class="instagram-block_one">
								<div class="instagram-block_one-inner">
									<div class="instagram-block_one-image">
										<img src="{% static 'images/gallery/instagram-4.jpg' %}" alt="" />
										<div class="instagram-block_one-overlay">
											<a href="{% static 'images/gallery/instagram-4.jpg' %}" class="lightbox-image instagram-block_one-icon">
												<i class=""><img src="{% static 'images/gallery/instagram.svg' %}" alt="" /></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Instagram Block One -->
							<div class="instagram-block_one">
								<div class="instagram-block_one-inner">
									<div class="instagram-block_one-image">
										<img src="{% static 'images/gallery/instagram-5.jpg' %}" alt="" />
										<div class="instagram-block_one-overlay">
											<a href="{% static 'images/gallery/instagram-5.jpg' %}" class="lightbox-image instagram-block_one-icon">
												<i class=""><img src="{% static 'images/gallery/instagram.svg' %}" alt="" /></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End Instagram Gallery -->
		
		<div class="footer-bottom">
			<div class="auto-container">
				<!-- Copyright -->
				<div class="main-footer_copyright">
                    Compassionate Care Advisors &copy; 2025. All Rights Reserved.
                </div>

			</div>
		</div>
	</footer>
	<!-- End Main Footer -->
	
	<!-- Search Popup -->
	<div class="search-popup">
		<div class="color-layer"></div>
		<button class="close-search"><span class="fa-xmark"></span></button>
		<form method="post" action="blog.html">
			<div class="form-group">
				<input type="search" name="search-field" value="" placeholder="Search Here" required="">
				<button class="fa fa-solid fa-magnifying-glass fa-fw" type="submit"></button>
			</div>
		</form>
	</div>
	<!-- End Search Popup -->
	
	
	
</div>
<!-- End PageWrapper -->

<div class="progress-wrap">
	<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
		<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
	</svg>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/backtotop.js' %}"></script>
<script src="{% static 'js/odometer.js' %}"></script>
<script src="{% static 'js/parallax-scroll.js' %}"></script>

<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/SplitText.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'js/ScrollSmoother.min.js' %}"></script>

<script src="{% static 'js/typeit.js' %}"></script>
<script src="{% static 'js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/element-in-view.js' %}"></script>
<script src="{% static 'js/color-settings.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>